<%= stylesheet_link_tag 'post-index', media: 'all', 'data-turbolinks-track' => true %>
    <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

    <% if @posts.present? %>
        <div class="container">
            <div id="products" class="row list-group ">
	            <% @posts.each do |post| %>
                    <%= render post %>
                <% end %>
            </div>
        </div>
	<% else %>
		<p>There are no posts containing the term(s) .</p>
	<% end %>